---
import Carousel from "../../components/Carousel";
import Layout from "../../layouts/Layout.astro";

const ANDROID_LINK =
  "https://play.google.com/store/apps/details?id=com.kollinmurphy.sudokucompete";
const IOS_LINK = "https://apps.apple.com/us/app/sudoku-compete/id6443859021";
---

<Layout title="Sudoku Compete">
  <img
    src="/assets/sudoku-compete.png"
    class="aspect-square mb-6 mt-8 h-32 mx-auto"
    alt="Logo"
  />
  <h1 class="mb-2 text-center md:text-left">Sudoku Compete</h1>
  <p class="text-center md:text-left">
    Compete against other players in a real-time multiplayer game of Sudoku.
  </p>

  <div
    class="flex flex-col md:flex-row gap-2 items-center md:h-16 my-8 md:mb-[64px]"
  >
    <a href={ANDROID_LINK} class="flex items-center justify-center w-full">
      <img
        src="/assets/google-play-badge.png"
        class="object-contain h-16"
        alt="Get it on Google Play"
      />
    </a>
    <a href={IOS_LINK} class="flex items-center justify-center w-full">
      <img
        src="/assets/app-store-badge.png"
        class="object-contain h-16"
        alt="Download on the App Store"
      />
    </a>
  </div>

  <Carousel client:idle />

  <h3 class="text-2xl mt-4">Support</h3>
  <p class="mb-8">
    For support, please contact <a
      class="hover:underline"
      href="mailto:luckymurphydevelopment@gmail.com"
    >
      luckymurphydevelopment@gmail.com</a
    >. Please send an email with the suject "Sudoku Compete Account Data
    Deletion" if you would like to delete your account or have your data
    removed.
  </p>

  <a href="/sudoku-compete/privacy" class="text-md mt-4 hover:underline"
    >Privacy Policy</a
  >
</Layout>
