---
import HomeIcon from "../components/HomeIcon.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ClockWork Time Tracker">
  <a href="/">
    <div class="mt-6 mb-4 btn btn-ghost btn-circle">
      <HomeIcon fill="black" width={32} height={32} />
    </div>
  </a>
  <h1>ClockWork Time Tracker</h1>
  <p>Easily keep track of your work hours.</p>

  <h3 class="text-2xl mt-4">Support</h3>
  <p>
    For support, please contact <a
      href="mailto:luckymurphydevelopment@gmail.com"
    >
      luckymurphydevelopment@gmail.com</a
    >.
  </p>
</Layout>
