---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BTD1 Clone by Kollin Murphy</title>
    <style is:inline>
      canvas {
        image-rendering: crisp-edges;
      }
      @font-face {
        font-family: "TrebuchetMS";
        src: url("/hackusu/assets/fonts/TrebuchetMS.ttf");
      }
    </style>
    <script is:inline src="/hackusu/assets/index-6e448aa9.js"></script>
    <link rel="stylesheet" href="/hackusu/assets/index-51575b26.css" />
  </head>
  <body>
    <canvas id="canvas-game" width="1066" height="1024"></canvas>
  </body>
</html>
