---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import AnimatedText from "../components/AnimatedText";
import AnimatedHeader from "../components/AnimatedHeader";
---

<Layout title="Software Development by Kollin Murphy">
  <div class="animated mt-10 mb-4">
    <AnimatedText client:load class="text-6xl delay-100">Web.</AnimatedText>
    <AnimatedText client:load class="text-6xl delay-500">Mobile.</AnimatedText>
    <AnimatedText client:load class="text-6xl delay-[900ms]">Full-stack.</AnimatedText>
    <AnimatedText client:load class="delay-[1300ms] text-3xl"
      >Software solutions for your needs.</AnimatedText
    >
  </div>

  <AnimatedHeader client:load class="delay-[1700ms]" />

  <ul role="list" class="link-card-grid mt-6">
    <Card
      href="/about"
      title="About me"
      body="Find out who I am, what I do, and how I can help you."
    />
    <Card
      href="https://github.com/kollinmurphy"
      title="GitHub"
      body="Check out some of my past projects."
      newTab={true}
    />
    <Card
      href="mailto:kollin.murphy@gmail.com"
      title="Reach out"
      body="Shoot me an email and I'll get back ASAP."
      newTab={true}
    />
  </ul>
</Layout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
